img{
    height: 500px;
}
.a1{
    background-color: black;
    color: white;
    text-align: center;
}
p,h5{
    color: black;
}
.a2{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    align-content: center;
    
}
.a3{
    display: flex;
    width: 400px;
    justify-content: center;
    align-content: center;
}
.a5{
    color: white;
}